<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SG Nature Calls</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W53YF1K0RT"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-W53YF1K0RT');
    </script>
    
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">SG Nature Calls</h1>
        <h5 class="text-center my-4">Click photo for sound, Click name for more info</h5>

        <!-- Search Bar !NO JS YET-->
        <div class="autocomplete-search-box">
            <input type="text" class="search-box" placeholder="Search for an animal..."/>
            <ul class="search-result"></ul>
        </div>        
            
        <!-- Habitat Filter !figuring out JS -->
        <div class="my-4">
            <label for="habitatFilter">Choose a habitat:</label>
            <select id="habitatFilter" class="form-control">
                <option value="all" selected>All</option>
                <option value="Urban">Urban</option>
                <option value="Forest/Park">Forest/Park</option>
                <option value="Mangrove/Coastal">Mangrove/Coastal</option>
            </select>
            </div>

    <!--Animal grid-->
        <div class="animal-grid">
            <!-- <% animals.forEach((animal, id) => { %>
                <div id="<%= id %>" class="animal-card">
                    <div class="card" >
                        <img src="<%= animal.image %>" class="card-img-top" alt="<%= animal.name %>" onclick="playSound('<%= animal.sound %>')">
                        <div class="card-body">
                            <h5 class="card-title" onclick="location.href = 'animals/<%= id %>';" ><%= animal.name %></h5>
                        </div>
                    </div>
                </div>
            <% }) %> -->
        </div>

        <!--Sources-->
        <div>
            <h6 class="text-center my-4" style="font-weight: bold; text-decoration: underline;" onclick="location.href = 'sources';">Sources</h6>
        </div> 

    </div>

<!-- Footer with Disclaimer -->
<footer class="text-center mt-4">
    <p class="disclaimer">
        Disclaimer: <br>
        This website is created for learning purposes only. The information provided here should not be considered professional advice. Please note that we make no guarantees regarding the accuracy, completeness, or reliability of the contents of this website. Any actions you take based on the contents of this website are at your own risk. We are not liable for any losses or damages incurred from the use of this website.
    </p>
</footer> 

    <script src="/js/filters.js"></script>
    <script src="/js/sounds.js"></script>
</body>
</html>
