<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SG Nature Calls</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">SG Nature Calls</h1>
        <h5 class="text-center my-4">Click photo for sound, Click name for more info</h5>
        <div class="animal-grid">
            <% animals.forEach((animal, id) => { %>
                <div class="animal-card">
                    <div class="card" >
                        <img src="<%= animal.image %>" class="card-img-top" alt="<%= animal.name %>" onclick="playSound('<%= animal.sound %>')">
                        <div class="card-body">
                            <h5 class="card-title" onclick="location.href = 'animal/<%= id %>';" ><%= animal.name %></h5>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <script src="/js/scripts.js"></script>

</body>
</html>
